{% extends 'base.html' %}

{% block titulo %}Top 5 Partidos{% endblock %}

{% block contenido %}
<h1>Top 5 Partidos con más goles</h1>
<table>
    <thead>
        <tr>
            <th>Equipos</th>
            <th>Resultado</th>
            <th>Ronda</th>
            <th>Ciudad</th>
        </tr>
    </thead>
    <tbody>
        {% for m in matches %}
        <tr>
            <td>{{ m.team1 }} vs {{ m.team2 }}</td>
            <td>{{ m.score.ft[0] }} - {{ m.score.ft[1] }}</td>
            <td>{{ m.round }}</td>
            <td>{{ m.ground }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}